services:
    # build: .
    # restart: always
    # volumes:
    #   - ./app:/app
    #   - ./mediafiles:/vol/media
    # ports:
    #   - "8000:8000"
  backend:
    build: ./backend
    restart: always
    # container_name: django_app
    # command: python app/manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8001:8000"
    depends_on:
      - db
    # env_file:
    #   - .env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    working_dir: /app
    command: npm run dev
    # environment:
    #   - VITE_API_URL=http://127.0.0.1:8001

  db:
    image: mariadb:10.5
    environment:
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
    volumes:
      - db_data:/var/lib/mysql
    restart: always

# volumes:
#   mariadb_data:
volumes:
  db_data:
